<h1>Add Your Dog Below</h1>
<form action='/Pet/new' method="POST">
<ul>
    <label for="name">Enter Dog's Name: </label>
    <input type="text" name="name" placeholder="Enter Name" /><br>

    <label for="Age">Enter Dog's Age: </label>
    <input type="text" name="Age" placeholder="Enter Age" /><br>

    <label for="description">Enter Description: </label>
    <input type="text" name="description" placeholder="Enter Description" /><br>

    <label for="imgUrl">Enter Dog's Image: </label>
    <input type="text" name="imgUrl" placeholder="Enter Image" /><br>
</ul>

    <button type="submit">Add Dog</button>
    <button type="submit"><a href="/Pet">Back Home</a></button>
</form>