<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  {{!-- <style>
    .footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      margin-top: 30px;
      background-color: teal;
      color: whitesmoke;
      text-align: center;
    }
</style> --}}
</head>

<body>

  <div id="page-container">
    <div id="content-wrap">
      <!-- all other page content -->
        {{{body}}}
    </div>
    <footer id="footer">
      <p>
        &copy; 2022 Copyright Jbetrand10 @ Digital Innovation Studios LLC | All Rights Reserved | Terms Of Service | Privacy
      </p>
      <a href='https://github.com/Jbetrand10'>Github Portfolio</a>
    </footer>
  </div>


  {{!-- <div class="footer" >
    <p>
      &copy; 2022 Copyright Jbetrand10 @ Digital Innovation Studios LLC | All Rights Reserved | Terms Of Service | Privacy
    </p>
    <a href='https://github.com/Jbetrand10'>Github Portfolio</a>
  </div> --}}

</body>

</html>